@import "tailwindcss";

:root {
  font-family: 'Segoe UI',
    'Roboto',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #f0f4f8, #d9e2ec);
}